

html {
    height: 100%;
    background: #52AEF4;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}

body{
    display: flex;
    min-height: 98vh;
    justify-content: center;
    align-items: center;
    color : #210124;
    user-select: none;
}

.text-center {
    text-align: center;
}

#container {
    box-sizing: border-box;
    height: 620px;
    width: 600px;
    padding: 20px;
    border-radius: 50px;
    position: relative;
    background: #52AEF4;
    box-shadow:  22px 22px 62px #4796d2, 
                -22px -22px 62px #5dc6ff;
}

#score {
    border-radius: 15px;
    /* background: #337CA0; */
    color: #F1F0FA;
    font-size: 1.5rem;
    position: absolute;
    top:  24px;
    left: 70%;
    letter-spacing: 1px;
    min-width: 75px;
    padding: 15px;
}

#correct,
#wrong {
    background: #3DE14D;
    border-radius: 15px;
    color: #210124;
    padding: 11px;
    position: absolute;
    left: 245px;
    top: 30px;
    display: none;
    transition: display fade .3s;
}

#wrong {
    background: #DC040F;
    color: #F1F0FA;
}

#question{
    display: none;
}

#dummy, #question {
    width: 450px;
    height: 150px;
    border-radius: 15px;
    margin: 80px auto 20px;
    background: #2C5784;
    color: #F1F0FA;
    font-size: 100px;
    line-height: 150px;
    animation: fade normal 1s;
}


#choices {
    width: 400px;
    display: grid;
    grid-template-areas: 'box1 box2' 'box3 box4';
    grid-column-gap:10px;
    grid-row-gap:20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

#box1{
    grid-area: box1;
}

#box2{
    grid-area: box2;
}

#box3{
    grid-area: box3;
}

#box4{
    grid-area: box4;
}

.box {
    width: 180px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 1.5em;
    background: #F1F0FA;
    margin-right: 36px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

.box:active,
#startReset:active {
    background-color: #2C5784;
    box-shadow: 0 0;
    color: #F1F0FA;
    top: 4px;
}

#close:active {
    background-color: #C6D8FF;
    box-shadow: 0 0;
    color: #210124;
    border: 2px solid #210124;
    top: 4px;
}

#box4 {
    margin-right: 0px;
}

#startReset {
    width: 110px;
    height: 38px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #C6D8FF;
    margin: 35px auto;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s;
}

#info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#timeremaining, #start {
    height: 38px;
    font-size: 1.8em;
    line-height: 38px;
    transition: color .2s ease-in-out;
    animation: fade normal 1s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* @keyframes fade-out{
    0%{
        opacity: 1;
    }
    99%{
        opacity: 0;
    }
    100%{
        display: none;
    }
} */

#timeremaining{
    display: none;
}

#pageHeight{
    min-height: 100vh;
    min-width: 100%;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.55);
    display: none;
    animation: fade normal .5s;
}

#close{
    width: 110px;
    height: 38px;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #210124;
    color: #C6D8FF;
    margin: 5px auto;
    line-height: 38px;
    border-radius: 3px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    position: relative;
    transition: all 0.2s; 
}

#gameover {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: translate(-50%, -50%);
    min-height: 200px;
    background-color: #C6D8FF;  
    border-radius: 15px;
    color: #210124;
    font-size: 2.5em;
    text-transform: uppercase;
    /* border-radius: 42px; */
    background: #C6D8FF;
    /* box-shadow: -10px -10px 1px #b8c9ed, 
                -10px -10px 1px #d4e7ff; */
    z-index: 2;
    display: none;
}

#gameover p{
    margin: 0;
}
